        * {
            margin: 0;
            padding: 0;
        }
        
        .container-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1600px;
            min-height: 100px;
            padding: 3%;
        }
        
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 2400px;
        }
        
        .header {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            left: 0%;
            right: 0%;
            top: 0%;
            bottom: 98.04%;
            height: 75px;
            width: 1600px;
            border-radius: 0px;
            background: #222222;
        }
        
        .logo {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            height: 38px;
            width: 111px;
            margin-left: 231px;
            top: 18px;
            border-radius: 0px;
        }
        
        .search {
            display: contents;
            width: 27px;
            height: 26px;
        }
        
         :before {
            color: #E8E8E8;
        }
        
        .nav-right {
            position: absolute;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            height: 37px;
            width: 168px;
            margin-left: 1201px;
            margin-top: 18px;
            border-radius: 0px;
        }
        
        .category {
            display: flex;
            flex-wrap: wrap;
            height: 470px;
            width: 1140px;
            margin-top: 65px;
            margin-bottom: 96px;
            border-radius: 0px;
        }
        
        .category-top {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            height: 260px;
            width: 1140px;
        }
        
        .item1 {
            height: 260px;
            width: 360px;
            left: 230px;
            top: 904px;
            border-radius: 0px;
        }
        
        .item2 {
            height: 260px;
            width: 360px;
            left: 230px;
            top: 904px;
            border-radius: 0px;
        }
        
        .item3 {
            height: 260px;
            width: 360px;
            left: 230px;
            top: 904px;
            border-radius: 0px;
        }
        
        .category-bottom {
            width: 1140px;
            height: 180px;
        }
        
        .main-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        
        .main {
            display: flex;
            flex-wrap: nowrap;
            height: 764px;
            width: 1600px;
            left: 0px;
            top: 75px;
            border-radius: 0px;
            background: #F1E4E6;
        }
        
        .main-block1 {
            width: 800px;
        }
        
        .main-block2 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 800px;
        }
        
        .red-line {
            height: 92px;
            width: 12px;
            left: 864px;
            top: 365px;
            border-radius: 0px;
            background: #F16D7F;
        }
        
        .brand-name {
            left: 55.75%;
            right: 20.69%;
            top: 9.54%;
            bottom: 88.04%;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
            color: #222222;
        }
        
        .image-main {
            height: 764px;
            width: 800.5800170898438px;
            left: 0px;
            top: 75px;
            border-radius: 0px;
        }
        
        .section-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .fetured-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 1140px;
            height: 1395px;
            left: 230px;
            top: 1470px;
            background-color: #E5E5E5;
        }
        
        .card-product {
            height: 581px;
            width: 360.0000305175781px;
            left: 230px;
            top: 1577px;
            border-radius: 0px;
            background: #F8F8F8;
            border: 1px solid #000;
        }
        
        .image {
            height: 419.9999694824219px;
            width: 360.0000305175781px;
            left: 230px;
            top: 1576px;
            border-radius: 0px;
            background: #F7E4E2;
            object-fit: contain;
        }
        
        .image-cart {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        
        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 24px 16px;
            gap: 16px;
            left: 14.38%;
            right: 63.12%;
            top: 52.17%;
            bottom: 43.5%;
        }
        
        .name {
            width: 148.11px;
            height: 16px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #000000;
        }
        
        .description {
            width: 314.74px;
            height: 51px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5D5D5D;
        }
        
        .price {
            height: 19px;
            width: 100px;
            left: 16px;
            top: 123px;
            border-radius: 0px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #F16D7F;
        }
        
        .price-add {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 314px;
        }
        
        .more-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 47px;
            width: 211px;
            left: 695.5px;
            top: 2817.5px;
            border-radius: 0px;
            bottom: 25.17%;
            border: 1px solid #FF6A6A;
        }
        
        .cont-btn {
            display: flex;
            justify-content: center;
            width: 1140px;
        }
        
        .text-more-btn {
            left: 45.88%;
            right: 45.75%;
            top: 73.98%;
            bottom: 25.52%;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #F26376;
        }
        
        .title-cart-items {
            width: 1600px;
            display: flex;
            justify-content: center;
            margin-top: 96px;
            margin-bottom: 64px;
        }
        
        .title-cart {
            font-family: Lato;
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: left;
        }
        
        .action {
            height: 341px;
            width: 1600px;
            left: 0px;
            border-radius: 0px;
            background: #222224;
        }
        
        .subscribe {
            height: 448px;
            width: 1598px;
            border-radius: 0px;
            background-color: #F4F4F4B2;
            ;
        }
        
        .footer {
            height: 79px;
            width: 1600px;
            left: 0px;
            top: 4693px;
            border-radius: 0px;
            background: #222224;
        }
        
        .cart-items {
            height: auto;
            width: 1600px;
            background: #E5E5E5;
        }
        
        .subscribe {
            height: 448px;
            width: 1598.0006103515625px;
            left: 1.99945068359375px;
            top: 0px;
            border-radius: 0px;
        }
        
        .product-block {
            display: flex;
            height: 306px;
            width: 652px;
            margin-left: 230px;
            border-radius: 0px;
            margin-bottom: 40px;
            border: 1px solid black;
            box-shadow: 17px 19px 24px 0px #00000021;
        }
        
        .container_img {
            display: flex;
            flex-wrap: nowrap;
            height: 306px;
            width: 262px;
            left: 230px;
            top: 319px;
            border-radius: 0px;
        }
        
        .container-content {
            height: 306px;
            width: 390px;
            border-radius: 0px;
        }
        
        .name-cart {
            margin-top: 22px;
            margin-left: 31px;
            margin-right: auto;
            margin-bottom: auto;
        }
        
        .title-name-cart {
            display: flex;
            justify-content: space-between;
            margin-bottom: 42px;
            width: 337px;
        }
        
        .specification-name-cart {
            margin-bottom: 42px;
        }
        
        .quantity {
            margin-top: 6px;
            margin-top: 6px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
        }
        
        .currency {
            margin-top: 6px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
        }
        
        .size {
            margin-top: 6px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            margin-top: 6px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
        }
        
        .color {
            margin-top: 6px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
        }
        
        .img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        
        .cart-delete:hover {
            background-color: #F26376;
        }
        
        .items-name {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 96px;
        }
        
        .carts-name {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            /* identical to box height */
            color: #222222;
        }